*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 'jost', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: static;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
.logo img{
    max-width: 70px;
    height:auto;
    border-radius: 50px;


}
.navmenu{
    display: flex;
} 
.navmenu a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .30s ease;
    display: block;
}
.active{

    border-bottom: 2px solid #ccc;
    
}
.navmenu a:hover{
    color:rgb(0, 0, 0);
}
#menu-icon{
    font-size: 35px;
    color: #000000;
    z-index: 10000;
    cursor: pointer;
}
section{
    padding: 12% 10%;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    
}

.menu-item {
    position: relative;
    margin: 0 15px;
}

.menu-item a {
    text-decoration: none;
    color:  rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    display: block;/*عشان القايمه تفضل ظاهره لما تأشر عليها*/
    transition: color 0.3s;
}

.menu-item a:hover {
     color: rgb(0, 0, 0); /*لون لما الماوس يجي عليه */
}

/* القائمة  */
.dropdown {
    position: absolute;
    top: 40px; /* لضبط مكان القائمة تحت ال shop*/
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
 
    display: none; /* إخفاء القائمة  */
    z-index: 10;
    min-width: 150px;
}

.dropdown li {
    padding: 8px 10px;
}

.dropdown li a {
    color: #333;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown li a:hover {
    background-color: #f3f3f3;
}

/* إظهار القائمة*/
.menu-item:hover .dropdown {
    display: block;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 15px;
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    transition: all .30s ease;
} 
.nav-icon i:hover{
    transform: scale(1.5);
    color: blueviolet;
}
header.sticky{
    background:#fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 50px rgb(0 0 0 / 10%);
    display: block;
}
.pants{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px, auto));
    gap: 2rem;
}
.row{
    position: relative;
    transition: all .30s;
}
.row img {
    width: 100%;
    height: auto; 
    border-radius: 8px;
    transition: all 0.3s;
} 
.row img:hover{
    transform: scale(.95);
    cursor: pointer;
}
.pants h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: rgb(138, 8, 8);
    padding: 3px 10px;
    border-radius: 2px;
}

.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: red;
    cursor: pointer;
}
.ratting{
    color: rgb(238, 161, 61);
    font-size: 15px;
}
.price h4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.price p{
    color: #000;
    font-size: 15px;
    font-weight: 600;
}
@media(max-width:850px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}
@media(max-width:620px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text p{
        font-size: 15px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
}
@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background:#ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .30s ease;
    }
    .navmenu a{
        display: block;
        margin: 0;
    }
    .navmenu.open{
        right: 0;
    }
}